<div class="row">
  <div class="col-sm-12">
    <p class="lead"></p>
    <%= link_to "بازگشت", client_path(@client) %>
    <div class="clearfix">
      <% @attachments.each do |attachment| %>
        <div class="thumbnail pull-right" style="margin:10px;">
          <%= link_to attachment.file.url(:original), target: "_blank" do %>
            <%= image_tag attachment.file.url, width: 300, height: 300 %>
          <% end %>
          <% if can? :edit, @client %>
            <div class="caption">
              <p>
                <%= link_to "حذف تصویر", url_for(controller: :clients, action: :delete_attachment, aid: attachment.id, id: @client.id), class: "text-danger", method: :delete %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if can? :edit, @client %>
      <hr>
      <div>
        <%= form_tag attachments_client_path(@client), method: :post, multipart: true do %>
          <div class="form-group">
            <label for="files">افزودن تصویر جدید</label>
            <%= file_field_tag "files[]", type: :file, multiple: true %>
          </div>
          <button type="submit" class="btn btn-primary"><%= t 'save' %></button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>