<h4>انتخاب <%= t 'sensors' %>ی موجود در <%= link_to @client.client_info ? @client.client_info.name : t('client'), @client %></h4>
<%= link_to "بازگشت", edit_client_path(@client) %>
<%= form_tag sensors_client_path(@client), class: 'form-horizontal' do %>
  <% Sensor.all.each do |sensor| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="sensors[]" value="<%= sensor.id %>" <%= "checked" if @sensors.include? sensor %>> <%= sensor.name %>
      </label>
    </div>
  <% end %>
  <button type="submit" class="btn btn-default"><%= t 'submit' %></button>
<% end %>